Makefile*
*.la
*.lo
acinclude.m4
aclocal.m4
config.guess
config.h*
config.sub
config.log
config.nice
config.status
configure*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
.deps
.libs
run-tests.php
/autom4te.cache
/build
/include
/modules
ltmain.sh.backup
tmp-php.ini
